<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Bulb app</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Light Bulb app</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <img src="../static/img/apagada.jpg" alt="lampada apagada">
            <div class="btn">
                <button>Ligar</button>
                <button>Desligar</button>
            </div>
        </div>
    </main>
</body>
</html>