<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Light Bulb app</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Light Bulb app</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="image">
                <img src="../static/img/apagada.png" alt="lampada apagada">
            </div>
            <div class="btn">
                <button>Ligar</button>
                <button>Desligar</button>
            </div>
        </div>
    </main>
</body>
</html>